*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }
main img{
    display:none
}

header{
    background-image: url("../assets/imagenes/design1_image1.jpg");
    width: 90%;
    height: 350px;
    position: relative;
    left:5%; 
    top: 15px;
   
}

h1{
    font-size: 5rem;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: absolute;
    top:20px;

}

.logo{
    position: relative;
    left: 1100px;
    top: 320px;
    width: 100px;
    z-index: 10;  
}



/* cuerpo del html*/

header nav{
    width:300px;
    position: relative;
    top: 300px;
    z-index: 10;

}

section{
    width: 90%;
    position: relative;
    top:20px;
    left:5%;

}

section>h3{
background-color: black;
color: aliceblue;
display: block;
text-align: center;
font-size: 2rem;

}



nav a{
    display: inline-block;
    width:200px;
    margin: 20px;   
    font-size: 1.1rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: blue;
}

section div{
    position: relative;
    left:200px;
    margin:20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


div>h3{
    font-size: 1.5rem;
    font-weight: bolder;

}

div>p{
    margin: 10px;
    font-weight: lighter;
    width: 80%;

}

.active{
    text-decoration: none;
    color: black;
}
