body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-image: url(../assets/imagenes/design1_image2.jpg);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

header {
    height: 15vh;
    background-color: rgba(138, 43, 226, 0.5);
    display:flex ;
    align-items: center;
    justify-content: space-between;
}

h1{
    order: 1;
}

.logo{
    width: 100px;
}


header nav {
    height:  40px;
    display: flex;
    order: 2;
    justify-content: end; 
    align-items: center;
    gap: 10px;
    padding-right:50px;
    align-self: flex-end;
}

header nav a {
    box-sizing: border-box;
    height: 40px;
    width: 120px;
    color:#f2f009 ;
    background-color: #0d0801;
    border: 3px solid #f2f009;
    text-align: center;
    border-radius: 3rem;
    padding-top: 7px;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bolder;

}

/** estilo de los enlaces activos**/

.active{
    background-color: #f2f009;
    color: #0d0801;
    border:3px solid #0d0801 ;
}

/** Estilo del boton cuando paso el mouse**/

header nav a:hover{
    cursor: pointer;
    transform: scale(1.1,1.2);
    transform: translate(0, -10px);
    background-color:#f2f009 ;
    color:  rgb(138, 43, 226);
    transition: all 0.3s;
    border:3px solid #0d0801;
}


/** Arranca el cuerpo de la pagina**/

section{
    height: 82vh;
    margin: 10px;
    background-color: rgba(240, 248, 255,0.8);
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

section>h3{
    color:#f2f009 ;
    background-color: #0d0801;
    border: 3px solid #f2f009;
    border-radius: 20%; 
    font-size: 3rem;
    font-weight: bolder;
    height: 400px;
    width: 400px;
    box-sizing: border-box;
    margin: 50px;
    text-align: center;
    padding-top: 150px;
    
}
section>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 100px;
    width: 80vh;
    height: 70vh;
}

.container{
    background-color: rgba(240, 248, 255,0.7);
   display: flex;
   align-items: flex-end;
   padding-top: 300px;
   overflow-y: scroll;
    height: 180px;
    width: 85%;
}

.rules{
    color:#f2f009 ;
    background-color: #0d0801;
    border: 3px solid #f2f009;
    text-align: center;
    padding-top: 100px;
}

.schedule{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:rgba(240, 248, 255,0.8) ;
}

thead{
    background-color: blue;
}

tbody{
    background-color: chartreuse;
}
th{
    padding: 20px;
}

td{
    padding: 10px;
    justify-content: center;
}
p{
    display: inline;
}

.linea{
    display: flex;
    width:100vh;
    justify-content: space-between;
}
h4{
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height: 15px;
}
h5{
    text-align:center;
}

.vacio{
    list-style: circle;
}