*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header{
    width: 80%;
    align-content: center;
    margin-left: 140px;
}

header figure{
    background-image: url("../assets/imagenes/design1_image1.jpg");
    position: relative;
    top: 125px;
    height: 316px;
}
.logo{
    position:relative;
    top: 325px;
    width: 250px;
}

h1 {
    align-items: center;
    padding: 50px;
    position:absolute;
    top: 10px;
    margin: 10px;
    font-size: 3rem;
}
header nav{
    display: block;
    position:absolute;
    top:120px;
    left:935px

}

header nav a{
    background-color: #0F82CD;
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    box-shadow: 3px 1px gray;
}
header nav a:hover{ 
    background-color: green;
}



/** Seccion upcoming events**/
main{
    width: 80%;
    position: absolute;
    top:440px;
    left:140px;
}

section>h3{
    width: 100%;
    font-size: 2em;
    font-weight: bolder;
    display: block;
    border: 1px solid black;
    padding:  0px 150px;
    text-align: center;
   
}

main img{
    display:none
}

section div{
   position: relative;
   left: 250px;
}

div>p{
    margin: 0;
    position:relative;
    left:10px;
}

div>h3{
    margin: 0;
   
  
}

div{
    margin: 10px;
}

p{
    width: 80%;
}

.email{
    position:absolute;
    left: 400px;
    top: 100px;
}
.email p{
    display: block;
}

.active{
    background-color: green;
}